<div class="tituloPagina">
  {{ Titulo }} <small>{{ TituloAccionABMC[AccionABMC] }}</small>
</div>

<!-- Formulario Filtro de busqueda, se ve cuando la accion es Listado(busqueda/listado)-->
<form name="FormBusqueda" [formGroup]="FormBusqueda" *ngIf="AccionABMC == 'L'">
  <div class="container-fluid">
    <!-- Botones -->
    <div class="row justify-content-center botones">
      <button type="button" class="btn btn-primary" (click)="Buscar()">
        <i class="fa fa-search"> </i> Buscar
      </button>
      <button type="button" class="btn btn-primary" (click)="Agregar()">
        <i class="fa fa-plus"> </i>
        Agregar
      </button>
    </div>
  </div>
</form>

<!-- Tabla de resutados de busqueda y Paginador-->
<div id="divTablaResultados" *ngIf="AccionABMC == 'L' && Items?.length > 0">
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Id Contacto</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Fecha Nacimiento</th>
        <th class="text-center">Telefono</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Item of Items">
        <td>{{ Item.IdContacto }}</td>

        <td class="text-right">{{ Item.Nombre }}</td>

        <td class="text-right">
          {{ Item.FechaNacimiento | date: 'dd/MM/yyyy' }}
        </td>

        <td class="text-right">{{ Item.Telefono }}</td>

        <td class="text-center text-nowrap">
          <button
            class="btn btn-sm btn-outline-primary"
            title="Consultar"
            (click)="Consultar(Item)"
          >
            <i class="fa fa-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Registro en Alta,Modificacion y Consulta -->
<form name="FormRegistro" [formGroup]="FormRegistro" *ngIf="AccionABMC != 'L'">
  <div class="container-fluid">
    <fieldset [disabled]="AccionABMC === 'C'">
      <!--campo nombre-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Nombre"
            >Nombre<span class="text-danger">*</span>:</label
          >
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="Nombre"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls['Nombre'].touched || submitted) &&
                FormRegistro.controls['Nombre'].errors
            }"
          />

          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls['Nombre'].touched || submitted) &&
              FormRegistro.controls['Nombre'].hasError('required')
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls['Nombre'].touched || submitted) &&
              (FormRegistro.controls['Nombre'].hasError('minlength') ||
                FormRegistro.controls['Nombre'].hasError('maxlength'))
            "
          >
            Dato texto, 4 a 55 caracteres.
          </div>
        </div>
      </div>

      <!--campo FechaNacimiento-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label"
            >Fecha de Nacimiento<span class="text-danger">*</span>:
          </label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            class="form-control"
            formControlName="FechaNacimiento"
            name="FechaNacimiento"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls['FechaNacimiento'].touched ||
                  submitted) &&
                FormRegistro.controls['FechaNacimiento'].errors
            }"
          />

          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls['FechaNacimiento'].touched || submitted) &&
              FormRegistro.controls['FechaNacimiento'].hasError('required')
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls['FechaNacimiento'].touched || submitted) &&
              FormRegistro.controls['FechaNacimiento'].hasError('pattern')
            "
          >
            Dato fecha, formato dd/mm/aaaa.
          </div>
        </div>
      </div>

      <!--campo Telefono-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Stock">
            Telefono<span class="text-danger">*</span>:
          </label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            type="text"
            name="Telefono"
            class="form-control"
            formControlName="Telefono"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls['Telefono'].touched || submitted) &&
                FormRegistro.controls['Telefono'].errors
            }"
          />
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls['Telefono'].touched || submitted) &&
              FormRegistro.controls['Telefono'].hasError('required')
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls['Telefono'].touched || submitted) &&
              FormRegistro.controls['Telefono'].hasError('pattern')
            "
          >
            Dato numérico, 13 dígitos.
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Botones Grabar, Cancelar/Volver' -->
    <hr />
    <div class="row justify-content-center botones">
      <button
        type="button"
        *ngIf="AccionABMC !== 'C'"
        class="btn btn-primary"
        (click)="Grabar()"
      >
        <i class="fa fa-check"></i> Grabar
      </button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="Volver()">
        <i class="fa fa-undo"></i>
        {{ AccionABMC == 'C' ? 'Volver' : 'Cancelar' }}
      </button>
    </div>
  </div>
</form>
